---
type Props = {
  desktopImage: string;
  desktopAlt: string;
  mobileImage: string;
  mobileAlt: string;
  desktopHeight?: number;
  mobileHeight?: number;
};

const { desktopImage, desktopAlt, mobileImage, mobileAlt, desktopHeight = 568, mobileHeight = 481 } = Astro.props;
---

<section class="desktop-mobile-screens">
  <figure class="desktop-mobile-browser">
    <div class="desktop-mobile-image" style={`--desktop-mobile-height: ${desktopHeight}px`}>
      <img src={desktopImage} alt={desktopAlt} width="844" height="568" loading="lazy" />
    </div>
  </figure>
  <figure class="desktop-mobile-phone" style={`--desktop-phone-height: ${mobileHeight}px`}>
    <img src={mobileImage} alt={mobileAlt} width="222" height="481" loading="lazy" />
  </figure>
</section>
